.wrapper {
  width: 380px;
  margin: 20px auto 0;
  padding: 25px 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid #c0c0c0;
  background: #e1e2d2;
}

.header {
  width: 100%;
  margin: 0 0 25px;
  padding: 0 0 25px;
  user-select: none;
  order: -1;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c0c0c0;
}

.button {
  font-size: 28px;
  color: #c0c0c0;
  border-radius: 6px;
  border: 2px solid #c0c0c0;
  background: #fff;
}

.button:hover {
  color: #000;
  border-color: #000;
}

.main {
  width: 204px;
  user-select: none;
}

.timer-block {
  width: 200px;
  height: 80px;
  margin: 0 auto 30px;
  padding: 0 30px;
  font-size: 40px;
  font-family: Arial;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-around;
  border-radius: 10px;
  border: 2px solid #c0c0c0;
  background: #fff;
}

.task-block {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task {
  height: 30px;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 8px;
  border: 2px solid #c0c0c0;
  background: #fff;
}

button, input {
  outline: none;
}

button:active {
  background: #e1e2d2;
}

.clean {
  width: 380px;
  box-sizing: border-box;
}

.alert-msg-block {
  width: 380px;
  height: 20px;
  margin: 20px auto 0;
  position: relative;
  font-family: Arial, sans-serif;
}

.alert-msg-title {
  font-size: 20px;
  position: absolute;
  left: 19%;
}

footer {
  margin: 20px 0 0;
}

#task-input {
  height: 30px;
  padding: 0 0 0 4px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 8px;
  border: 2px solid #c0c0c0;
  background: #fff;
}

#task-input:hover {
  border-color: #000;
}

.aside {
  width: 160px;
  height: 220px;
  padding: 5px;
  font-family: Arial;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid #c0c0c0;
  background: #fff;
}

.best-result,
.current-result {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.alert-msg {
  font-size: 30px;
  font-weight: bold;
  user-select: none;
  position: absolute;
}

.heading {
  font-weight: bold;
}
